<div
    class="post-container-modal w-[100%] h-[100vh] z-[999] absolute top-[0] left-[0] hidden flex items-center justify-center overflow-hidden">
    <div class="post-container h-[80%] bg-[#3c3c3c] shadow-lg border-[3px] border-[rgb(90,90,90)] rounded-md scale-[0.8] lg:scale-[1]">
        <div class="post-heading relative">
            <h1 class="text-[25px] text-center py-2 opacity-80">Create a new Post</h1>
            <div class="h-full w-fit p-4 absolute top-0 right-0 flex justify-center items-center">
                <i class="post-container-close ri-close-large-line cursor-pointer"></i>
            </div>
        </div>
        <hr class="opacity-10" />
        <section class="w-full h-[80%] flex justify-center items-center overflow-auto px-10">
            <div class="flex justify-center items-center w-full h-full">
                <form id="postImage-form" enctype="multipart/form-data" class="w-full h-full">
                    <div class="flex flex-wrap justify-center items-center gap-10 w-full h-full p-4">
                        <div class="flex justify-center items-center">
                            <div class="upld-post">
                                <div class="relative">
                                    <span id="postImg-icon"
                                        class="absolute right-0 bottom-0 h-10 w-10 bg-[#3c3c3c] rounded-full flex justify-center items-center cursor-pointer h-9 w-9 border-2 border-gray-400 hover:text-sky-300 hover:border-sky-400 hover:bg-sky-30 z-[999]">
                                        <i class="ri-add-line scale-[1.6]"></i>
                                    </span>
                                    <div class="mb-3 w-[294px] h-[294px] rounded-xl shadow-lg mx-auto overflow-hidden bg-gray-700"
                                        id="preview">
                                        <span
                                            class="flex justify-center items-center w-full h-full text-center select-none">
                                            Click on Plus icon <br />
                                            to select <br />
                                            Image or Video
                                        </span>
                                    </div>
                                </div>
                                <!-- input type file -->
                                <input class="block hidden" id="post-img" name="postImage" accept="image/*,video/*"
                                    onchange="previewFile(this)" type="file" />
                            </div>
                        </div>
                        <div class="post-details w-auto sm:w-[400px]">
                            <input class="w-full mt-0 text-black rounded-md py-1 px-1" type="text" name="title"
                                placeholder="title" />
                            <textarea class="block mt-4 text-black rounded-md py-1 px-1 w-full h-[160px]"
                                name="description" id="description" placeholder="Description..."></textarea>
                            <input class="publish block mt-4 mx-auto bg-red-500 px-8 py-2 rounded-md cursor-pointer" type="submit"
                                value="Publish" />
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <div class="result w-full h-auto text-center flex justify-center items-center mt-[10px]"></div>
    </div>
</div>