<div id="animation" class="landing-page-animation relative z-[-1] w-full overflow-x-hidden">
        <div class="grid grid-cols-8 grid-rows-20 gap-2 h-full w-full " style="--item-size: 280px;">
                <!-- Row 1 -->
                <div class="item col-start-1 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/1.jpg" alt="image 1" />
                </div>
                <div class="item col-start-5 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/2.png" alt="image 2" />
                </div>

                <!-- Row 2 -->
                <div class="item col-start-3 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/3.jpg" alt="image 3" />
                </div>
                <div class="item col-start-7 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/4.jpg" alt="image 4" />
                </div>

                <!-- Row 3 -->
                <div class="item col-start-2 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/5.jpg" alt="image 5" />
                </div>
                <div class="item col-start-6 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/6.webp" alt="image 6" />
                </div>

                <!-- Row 4 -->
                <div class="item col-start-4 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/7.jpg" alt="image 7" />
                </div>
                <div class="item col-start-8 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/8.png" alt="image 8" />
                </div>

                <!-- Row 5 -->
                <div class="item col-start-2 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/9.jpg" alt="image 9" />
                </div>
                <div class="item col-start-6 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/10.png" alt="image 10" />
                </div>

                <!-- Row 6 -->
                <div class="item col-start-3 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/11.png" alt="image 11" />
                </div>
                <div class="item col-start-7 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/12.jpg" alt="image 12" />
                </div>

                <!-- Row 7 -->
                <div class="item col-start-1 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/13.png" alt="image 13" />
                </div>
                <div class="item col-start-5 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/15.jpg" alt="image 14" />
                </div>

                <!-- Row 8 -->
                <div class="item col-start-4 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/14.png" alt="image 15" />
                </div>
                <div class="item col-start-7 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/16.jpg" alt="image 16" />
                </div>

                <!-- Row 9 -->
                <div class="item col-start-2 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/17.png" alt="image 17" />
                </div>
                <div class="item col-start-6 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/18.png" alt="image 18" />
                </div>

                <!-- Row 10 -->
                <div class="item col-start-1 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/1.jpg" alt="image 19" />
                </div>
                <div class="item col-start-5 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/2.png" alt="image 20" />
                </div>

                <!-- Row 11 -->
                <div class="item col-start-3 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/15.jpg" alt="image 21" />
                </div>
                <div class="item col-start-7 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/5.jpg" alt="image 22" />
                </div>

                <!-- Row 12 -->
                <div class="item col-start-1 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/2.png" alt="image 23" />
                </div>
                <div class="item col-start-5 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/4.jpg" alt="image 24" />
                </div>

                <!-- Row 13 -->
                <div class="item col-start-4 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/10.png" alt="image 25" />
                </div>
                <div class="item col-start-8 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/11.png" alt="image 26" />
                </div>

                <!-- Row 14 -->
                <div class="item col-start-2 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/18.png" alt="image 27" />
                </div>
                <div class="item col-start-6 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/16.jpg" alt="image 28" />
                </div>

                <!-- Row 15 -->
                <div class="item col-start-3 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/14.png" alt="image 29" />
                </div>
                <div class="item col-start-7 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/8.png" alt="image 30" />
                </div>

                <!-- Row 16 -->
                <div class="item col-start-1 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/7.jpg" alt="image 31" />
                </div>
                <div class="item col-start-5 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/6.webp" alt="image 32" />
                </div>

                <!-- Row 17 -->
                <div class="item col-start-4 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/5.jpg" alt="image 33" />
                </div>
                <div class="item col-start-8 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/4.jpg" alt="image 34" />
                </div>

                <!-- Row 18 -->
                <div class="item col-start-2 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/3.jpg" alt="image 35" />
                </div>
                <div class="item col-start-6 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/13.png" alt="image 36" />
                </div>

                <!-- Row 19 -->
                <div class="item col-start-3 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/8.png" alt="image 37" />
                </div>
                <div class="item col-start-7 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/17.png" alt="image 38" />
                </div>

                <!-- Row 20 -->
                <div class="item col-start-1 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/16.jpg" alt="image 39" />
                </div>
                <div class="item col-start-5 col-span-2"><img class="w-full h-full object-cover"
                                src="/images/landing-images/14.png" alt="image 40" />
                </div>
        </div>
        <div class="brand-name w-full h-screen fixed top-0 left-0 flex flex-col justify-center items-center">
                <div class="text-5xl sm:text-7xl tracking-wide mb-4 font-[novecento-sans-wide,sans-serif]">Owntrest
                </div>
                <div class="text-2xl sm:text-3xl text-center">Your Design Hub for Desk Setups</div>
        </div>
        <div
                class="w-full h-[calc(100vh-80px)] mx-auto  flex justify-center items-center relative bg-[rgb(62,62,62)] z-[999]">
                <p class="text-sm font-semibold sm:text-xl md:text-[1.35rem] lg:text-3xl w-3/5 font-regular lg:leading-10 text-left">
                        Owntrest is a dedicated social media platform where creativity meets functionality. Share and
                        explore stunning images, videos, and vector designs focused on desk setups and room decor.
                        Whether you’re a designer showcasing your work or a seller promoting your products.The platform
                        is designed for both designers who want to share their skills and sellers looking to market
                        products to those searching for workspace inspiration. Owntrest fosters a creative community
                        where users can find design ideas, share their own projects, and discover products to enhance
                        theirsetups. All posts come from authenticated users, ensuring a curated, high-quality feed.
                </p>
        </div>
</div>