<nav class="nav-bar w-full h-full flex gap-4 justify-between items-center p-[20px] sm:p-5 sm:pr-5 sm:pl-5">
    <div class="logo w-[125px] h-auto shadow-xl"><img class="w-full h-full object-cover" src="/images/logo.png"
            alt="Owntrest logo"></div>
    <div>
        <div class="buttons flex items-center gap-8">
            <div class="log-btn">
                <button type="submit">
                    <div class="btn bg-red-500 p-[7px] sm:p-[8px] sm:pr-[20px] sm:pl-[20px] rounded-md hover:bg-[#D22E2E]">Log
                        In</div>
                </button>
            </div>
            <div class="sign-btn">
                <button type="submit">
                    <div class="btn bg-[grey] p-[7px] sm:p-[8px] sm:pr-[20px] sm:pl-[20px] rounded-md">Sign Up</div>
                </button>
            </div>
        </div>
    </div>
</nav>