<div id="loader" class="fixed inset-0 flex items-center justify-center bg-[#373737] z-50">
  <div class="relative">
    <!-- Spinning Border -->
    <div class="w-16 h-16 p-[2.5rem] border-4 border-t-6 border-transparent border-t-white rounded-full animate-spin"></div>
    
    <!-- Static Image (Centered) -->
    <img src="../images/shortcut-icon.png" alt="" class="w-14 h-14 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
  </div>
</div>

  
  