<div
    class="scale-posts-modal w-[100%] h-[100svh] z-[999] flex justify-center items-center fixed top-[0] left-[0] hidden">
    <div class="scale-posts-container">
        <div
            class="scale-posts-main h-[75vh] w-[55vw] bg-[#3c3c3c] rounded-xl overflow-auto shadow-lg border-[3px] border-[rgb(54,54,54)]">
            <div class="post-head-container flex items-center justify-between p-4 shadow-lg w-full h-[50px] p-[20px]">
                <div class="post-heading h-[27px] w-fit">
                    <img class="h-full w-full object-cover" src="/images/logo.png" alt="Owntrest Logo">
                </div>
                <div
                    class="post-close cursor-pointer scale-[1.2] font-bold hover:text-red-300 rounded-md flex justify-center items-center">
                    <i class="ri-close-large-line cursor-pointer"></i>
                </div>
            </div>
            <div class="post-details w-full h-[calc(100%-50px)] flex p-[30px] gap-[20px]">
                <div class="post-media-container h-full w-[28vw]">
                    <!-- media can be image or video -->
                </div>
                <div
                    class="post-text-container h-full w-[calc(100%-28vw)] ml-[20px] p-4 flex flex-col justify-between gap-8 shadow-2xl">
                    <div class="post-title h-[80px]">
                        <!-- title -->
                        Title is not provided
                    </div>
                    <div class="post-description h-[calc(100%-180px)] overflow-x-hidden overflow-auto p-4 rounded-md">
                        <!-- description -->
                    </div>
                    <div class="post-user h-[100px] flex gap-4 items-center">
                        <div
                            class="prf-pic-container border-2 border-gray-400 h-[60px] w-[60px] rounded-full overflow-auto">
                            <img class="prf-pic object-cover h-full w-full rounded-full" src="" alt="" />
                            <!-- profile-pic -->
                        </div>
                        <div class="prf-name">
                            <!-- user Fullname -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>