<div
    class="scrollArrow fixed bottom-5 left-1/2 transform -translate-x-1/2 text-3xl rounded-full bg-red-500 shadow-md text-[#2b2b2b] w-10 h-10 text-center content-center bounce hidden">
    <i class="ri-arrow-down-s-fill"></i>
</div>