* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100svh;
  width: 100%;
}

body {
  background-color: #2b2b2b;
  background-color: #2b2b2bf0;
  color: white;
}


/* # css for scroll-bar */
body::-webkit-scrollbar {
  width: 0px;
  height: auto;
}

::-webkit-scrollbar {
  width: auto;
  height: auto;
}

::-webkit-scrollbar-thumb {
  background-color: #706f6f;
  border-radius: 3px;
  border: 2px solid #424242;
  /* Match the border color to the track background to create padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1a1;
}

::-webkit-scrollbar-track {
  background-color: #424242;
  /* border: 2px solid skyblue; */
}

::-webkit-scrollbar-button {
  background: #424242;
  /* border: 2px solid white; */
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;

}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url('../images/arrows/arrow-up.png');
  /* Up arrow */
  background-position: center;
}

.show-post-contents::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-top-right-radius: 6px;
}
.post-description::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-top-right-radius: 6px;
}

.show-post-contents::-webkit-scrollbar-button:single-button:vertical:increment {
  border-bottom-right-radius: 6px;
}
.post-description::-webkit-scrollbar-button:single-button:vertical:increment {
  border-bottom-right-radius: 6px;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url('../images/arrows/arrow-down-s-fill.png');
  /* Down arrow */
  background-position: center;
}

::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background-image: url('../images/arrows/arrow-left-s-fill.png');
  /* Left arrow */
}

::-webkit-scrollbar-button:single-button:horizontal:increment {
  background-image: url('../images/arrows/arrow-right-s-fill.png');
  /* Right arrow */
}


/* # css for modals */
.nav-modal,
.show-card-modal,
.post-container-modal,
.scale-posts-modal {
  background-color: rgba(26, 25, 25, 0.6);
}


/* # css for landing page */
.item {
  width: var(--item-size);
  height: var(--item-size);
}
@media (max-width:424px){
  .item {
      width: 120px;
      height: 120px;
  }
  .logo{
    width: 100px;
  }
}
@media (min-width: 425px) and (max-width: 640px) {
  .item {
      width: 140px;
      height: 140px;
  }
}
@media (min-width: 641px) and (max-width: 1024px) {
  .item {
      width: 200px;
      height: 200px;
  }
}
.item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* To make sure the image covers the div without distortion */
}


/* # CSS for Home page */
.all-container {
  position: relative;
  top: 10px;
}

.all-cards {
  width: 100%;
  height: 100%;
}

.cards {
  columns: 2;
  column-width: 100px;
  column-gap: 1.5rem;
}

.card {
  margin-bottom: 20px;
  display: inline-block;
  /* transition: all 0.25s ease-in-out; */
}

.card>a {
  text-decoration: none;
}

.card-text {
  color: white;
}

.upload-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-description {
  box-shadow: inset 0px 0px 30px 0 rgb(52, 52, 52);
  border: 3px solid rgba(52, 52, 52, 0.7);
}

/* # CSS for Profile page */
.profile-container {
  height: calc(100svh - 80px);
  position: relative;
}

/* # scroll down animation */
.bounce {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-10px);
  }
  60% {
      transform: translateY(-5px);
  }
}
/* fade out animation */
.fade-out {
  animation: fadeOut 0.5s forwards;
}
@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}
/* fade in animation */
.fade-in {
  animation: fadeIn 1s ease-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}